@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css";

*::selection {
  /* @apply dark:bg-grassDark-10 dark:text-neutralDark-1; */
  /* @apply rx-bg-green-6 rx-text-green-11; */
  @apply rx-bg-primary-6 rx-text-primary-11;
}

/* Base font family */
html,
body {
  @apply font-sans;
}

#post-content {
  @apply text-lg;
}

/* /* Header tags */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply rx-text-neutral-12;
}

b,
strong {
  @apply rx-text-neutral-12;
}

pre code {
  padding: 0 !important;
  font-weight: 400 !important;
}

[data-rehype-pretty-code-fragment] {
  @apply mt-4 text-sm;
}

body[data-focus-mode="true"] .focusable-row {
  @apply rx-text-neutral-11 transition-all;
  opacity: 0.5;
}

body[data-focus-mode="true"] .focusable-row:hover {
  @apply rx-text-neutral-12;
  opacity: 1;
}

.navbar::before {
  --size: 6px;
  --to: 60%;

  backdrop-filter: blur(12px);
  mask-image: linear-gradient(to bottom, black var(--to), transparent);
  -webkit-mask-image: linear-gradient(to bottom, black var(--to), transparent);

  background-color: transparent;
  background-size: var(--size) var(--size);
  background-image: radial-gradient(rgba(0, 0, 0, 0) 2px, rgb(251 252 253) 1px);
}

@media (prefers-color-scheme: dark) {
  .navbar::before {
    background-image: radial-gradient(rgba(0, 0, 0, 0) 2px, rgb(21 23 24) 1px);
  }
}

.navbar::after,
.navbar::before {
  content: "";
  position: absolute;
  inset: -1px 0px -50%;
  pointer-events: none;
  user-select: none;
}

.line--highlighted,
.word {
  @apply rx-bg-neutral-6 w-full;
}
