@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css";

*::selection {
  /* @apply dark:bg-grassDark-10 dark:text-neutralDark-1; */
  /* @apply rx-bg-green-6 rx-text-green-11; */
  @apply rx-bg-grass-6 rx-text-grass-11;
}

/* Base font family */
body {
  @apply font-sans;
}

/* Header tags */
h1 {
  @apply text-4xl font-bold rx-text-neutral-12;
}

h2 {
  @apply text-3xl font-semibold rx-text-neutral-12;
}

h3 {
  @apply text-2xl font-semibold rx-text-neutral-12;
}

h4 {
  @apply text-xl font-semibold rx-text-neutral-12;
}

h5 {
  @apply text-lg font-medium rx-text-neutral-12;
}

h6 {
  @apply text-base font-medium rx-text-neutral-12;
}

#post-content h1 {
  @apply my-4;
}

#post-content h2 {
  @apply my-3;
}

#post-content h3 {
  @apply my-2;
}

/* Paragraph */
p {
  @apply text-base leading-relaxed;
}

b,
strong {
  @apply rx-text-neutral-12;
}

ol {
  @apply list-decimal list-inside;
}

p {
  @apply md:text-xl;
}

p a {
  @apply rx-text-blue-11;
}

p a:hover {
  @apply underline;
}

pre code {
  padding: 0 !important;
}

hr {
  @apply my-4;
  @apply rx-border-neutral-8;
}

[data-rehype-pretty-code-fragment] {
  @apply mt-4 text-sm;
}

body[data-focus-mode="true"] .focusable-row {
  @apply rx-text-neutral-11 transition-all;
  opacity: 0.5;
}

body[data-focus-mode="true"] .focusable-row:hover {
  @apply rx-text-neutral-12;
  opacity: 1;
}

.navbar::before {
  --size: 6px;
  --to: 60%;

  backdrop-filter: blur(12px);
  mask-image: linear-gradient(to bottom, black var(--to), transparent);
  -webkit-mask-image: linear-gradient(to bottom, black var(--to), transparent);

  background-color: transparent;
  background-size: var(--size) var(--size);
  background-image: radial-gradient(rgba(0, 0, 0, 0) 2px, rgb(251 252 253) 1px);
}

@media (prefers-color-scheme: dark) {
  .navbar::before {
    background-image: radial-gradient(rgba(0, 0, 0, 0) 2px, rgb(21 23 24) 1px);
  }
}

.navbar::after,
.navbar::before {
  content: "";
  position: absolute;
  inset: -1px 0px -50%;
  pointer-events: none;
  user-select: none;
}

.line--highlighted,
.word {
  @apply rx-bg-neutral-6 w-full;
}
